:root {
  --base: #fff;
  --font: #444;
  --primary: #40bc6b;
  --prima: #ff9858;
  --secondary: #ffceaf;
  --terziary: #40bc6b;
  --grey: #f5f5f5;
}

.filter-1 {
  filter: invert(67%) sepia(27%) saturate(899%) hue-rotate(88deg) brightness(88%) contrast(92%);
}

.filter-2 {
  filter: invert(99%) sepia(10%) saturate(102%) hue-rotate(258deg) brightness(113%) contrast(86%);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.1);
  background-color: var(--grey);
}

::-webkit-scrollbar {
  width: 1rem;
  background-color: var(--grey);
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #ccc;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;
  background-color: var(--base);
  color: var(--font);
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
}

a {
  color: var(--font);
  text-decoration: none;
  transition: all 0.25s ease;
}

a:hover {
  color: var(--primary);
  transition: all 0.25s ease;
}

li {
  list-style: none;
}

main {
  width: 100%;
  position: relative;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding     : 0 2rem; */
}

hr {
  width: 100%;
  padding: 1rem 0;
}

/* 📦 mega-container 📦 */

.mega-container {
  width: 100%;
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 🔝 header 🔝 */

header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  width: 100%;
}

.navbar {
  width: 100%;
  height: 5rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo-container {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo-container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.logo-container .logo img {
  width: 3rem;
}

.logo-container .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0.9;
}

.title-container .title-1 {
  font-size: 1rem;
}

.title-container .title-2 {
  font-size: 0.84rem;
}

.mobile-logo-container {
  display: none;
}

.mobile-title-container {
  display: none;
}

.navbar .links {
  width: 34%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .links li {
  transition: scale 0.25s ease;
}

.navbar .links li:hover {
  scale: 1.1;
  transition: scale 0.25s ease;
}

.navbar .links a {
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-page {
  font-weight: bold;
  color: var(--primary);
}

.navbar .call-to-action-container {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.call-to-action-container .action-btn,
.dropdown-menu .action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--base);
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 5rem;
  font-weight: bold;
  transition: scale 0.25s ease;
  border: 0.25rem solid var(--primary);
  gap: 0.5rem;
}

.call-to-action-container .action-btn:hover,
.dropdown-menu .action-btn:hover {
  scale: 1.05;
  color: var(--base);
}

.navbar .toggle-btn {
  width: 1.5rem;
  color: var(--font);
  font-size: 2rem;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}

.lock-scroll {
  overflow: hidden;
}

/* dropdown-menu */

.dropdown-menu {
  height: 0;
  width: 100%;
  position: absolute;
  z-index: 90;
  display: none;
  top: 5rem;
  left: 0;
  background-color: var(--grey);
  overflow: hidden;
  transition: height 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu {
  height: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  margin-top: 50%;
  margin-bottom: 50%;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  gap: 2rem;
  transition: scale 0.25s ease;
}

.dropdown-menu li:hover {
  scale: 1.1;
  transition: scale 0.25s ease;
}

.middle-menu-line {
  margin: 2rem;
}

.dropdown-menu.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 5rem);
}

.social-icons {
  position: sticky;
  bottom: 0;
  width: auto;
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 33%;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 5rem;
  /* background-color: #fff; */
}

.social-icons .fa-instagram {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #C13584;
  color: white;
  padding: 0.5rem;
  border-radius: 100%;
  transition: scale 0.25s ease;
}

.social-icons .fa-phone {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: #2979FF;
  color: white;
  padding: 0.5rem;
  border-radius: 100%;
  transition: scale 0.25s ease;
}

.social-icons .fa-whatsapp {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #25D366;
  color: white;
  padding: 0.5rem;
  border-radius: 100%;
  transition: scale 0.25s ease;
}

.social-icons .fa-instagram:hover {
  scale: 1.1;
  transition: scale 0.25s ease;
}

.social-icons .fa-phone:hover {
  scale: 1.1;
  transition: scale 0.25s ease;
}

.social-icons .fa-whatsapp:hover {
  scale: 1.1;
  transition: scale 0.25s ease;
}

/* 📑 section 📑 */

section {
  padding: 0rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 2rem;
}

.section-title p {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  color: var(--prima);
  text-transform: lowercase;
}

.section-title h2 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 5rem;
  font-weight: 400;
}

.section-content {
  display: flex;
  gap: 2rem;
}

/* ➖ divider ➖ */

#first-divider {
  margin-top: 7.5%;
}

.divider {
  margin: 10% 0;
  width: 50%;
  height: 0.25rem;
  background-color: var(--grey);
  border-radius: 1rem;
}

/* 🦸‍♂️ hero-container 🦸‍♂️ */

.hero-container {
  height: calc(100vh - 5rem);
}

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 9.5rem;
  padding: 3rem;
}

.hero-container .hero-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 3rem;
}

.hero-container h1 {
  text-align: center;
  font-size: 2.25rem;
  margin-bottom: 3rem;
}

.hero-container p {
  text-align: center;
  margin-bottom: 3rem;
  max-width: 420px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn-container .btn-1 {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--base);
  padding: 0.5rem 1rem;
  border: 0.25rem solid var(--primary);
  border-radius: 5rem;
  font-weight: bold;
  transition: scale 0.25s ease;
}

.btn-container .btn-2 {
  width: 10rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--base);
  color: var(--primary);
  padding: 0.5rem 1rem;
  border: 0.25rem solid var(--primary);
  border-radius: 5rem;
  font-weight: bold;
  transition: scale 0.25s ease;
}

.btn-container .btn-1:hover,
.btn-container .btn-2:hover {
  scale: 1.05;
  transition: scale 0.25s ease;
}

/* Slideshow container */

.slideshow-container {
  height: 10rem;
  width: 100%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
}

.mySlides {
  display: none;
}

/* Caption text */
.text {
  width: 100%;
  max-width: 430px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 8rem;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  color: var(--font);
  margin-bottom: 3rem;
}

/* Dots indicators */
.dots {
  display: none;
}

.dot {
  height: 0.5rem;
  width: 0.5rem;
  display: inline-block;
  margin: 0 0.25rem;
  border-radius: 50%;
  background-color: var(--grey);
  transition: background-color 1s ease;
}

.active {
  background-color: var(--primary);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 7s;
}

@keyframes fade {
  0% {
    opacity: 0.5%
  }

  50% {
    opacity: 100%
  }

  100% {
    opacity: 0.5%
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 800px) {
  .text {
    font-size: 0.75rem
  }
}

/* 🍏 competence-areas 🍏 */

.competence-areas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.competence-areas-section-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 2rem;
}

.competence-areas-image {
  background-image: url(/images/section-1/rsz_side-img-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  border-radius: 1rem;
  width: 50%;
  height: 600px;
}

.competence-areas-cards {
  display: flex;
  flex-direction: column;
}

.competence-areas-card {
  padding: 1.5rem 0;
  margin-bottom: 0rem;
}

.competence-areas-card-heading {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  line-height: 1;
}

.competence-areas-card-heading .icon {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.competence-areas-card-heading img {
  width: 3rem;
}

/* 🤝 why-me 🤝 */

.why-me .section-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  column-gap: 2rem;
}

.why-me-card {
  row-gap: 2rem;
  background-color: var(--grey);
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 0rem;
}

.why-me-card-heading {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  line-height: 1.25;
}

.why-me-card-heading h2 {
  font-size: 1.25rem;
}

.why-me-card-heading .icon {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 100%;
}

.why-me-card-heading img {
  width: 3rem;
}

/* 💖 health-path 💖 */

.health-path-section {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
}

.health-path {
  text-align: center;
  flex: 1 1 0px;
  background-color: var(--base);
  border: 0.25rem solid var(--grey);
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 0rem;
}

.health-path-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  line-height: 1.25;
}

.health-path-heading h2 {
  font-size: 1.25rem;
}

.health-path-heading .icon {
  background-color: var(--primary);
  border-radius: 100%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.health-path-heading img {
  width: 3rem;
}

.btns-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

/* 📞 call-to-action-section 📞 */

.call-to-action-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
}

/* 🌎 map 🌎 */

.map-container {
  /* display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%; */
  max-width: 1200px;
  gap: 2rem;
}

.when {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.everyday {
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 0.25rem solid var(--grey);
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 2rem;
}

.where-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
  color: var(--font);
}

.calendar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.o-days {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 0.25rem solid var(--grey);
  padding: 2rem;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.closing-days {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.today {
  display: flex;
  color: var(--primary) !important;
  font-weight: bold !important;
}

.gmap {
  display: flex;
  height: 20rem;
  width: 50%;
  margin-bottom: 5rem;
}

#iframe-map {
  z-index: 100;
  display: flex;
  width: 100%;
  height: 100% !important;
  border: 0.25rem solid #f5f5f5;
  border-radius: 1rem
}

/* 👞 footer 👞 */

footer {
  z-index: 80;
  position: relative;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  font-size: 0.75rem;
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 1.75rem;
}

.about-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.copyrights {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  gap: 3rem;
  padding: 0;
  border-radius: 0rem;
  background-color: #ffffff00;
}

footer .social-icons .fa-instagram {
  font-size: 1.25rem;
  width: 2rem;
  height: 2rem;
  transition: scale 0.25s ease;
}

footer .social-icons .fa-phone {
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  transition: scale 0.25s ease;
}

footer .social-icons .fa-whatsapp {
  font-size: 1.25rem;
  width: 2rem;
  height: 2rem;
  transition: scale 0.25s ease;
}

footer .social-icons .fa-instagram:hover {
  scale: 1.1;
  transition: scale 0.25s ease;
}

footer .social-icons .fa-phone:hover {
  scale: 1.1;
  transition: scale 0.25s ease;
}

footer .social-icons .fa-whatsapp:hover {
  scale: 1.1;
  transition: scale 0.25s ease;
}

/* ✨ responsiveness ✨ */

@media (max-width: 800px) {
  h1 {
    font-size: 1.5rem;
    margin: 0;
  }

  h2 {
    font-size: 1.25rem;
    margin: 0;
  }

  p {
    font-size: 1rem;
    margin: 0;
  }

  .navbar {
    padding: 0;
  }

  .navbar .logo-container {
    display: none;
  }

  .mobile-logo-container {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 15%;
  }

  .navbar .mobile-logo-container img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
  }

  .mobile-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    line-height: 1;
  }

  .mobile-title-container .title-1 {
    font-size: calc(0.9rem + 0.9vw);
    /* font-size: 1.4rem; */
  }

  .mobile-title-container .title-2 {
    font-size: calc(0.75rem + 0.75vw);
    /* font-size: 1.18rem; */
  }

  @media (max-width: 300px) {
    .navbar .mobile-logo-container img {
      width: 1.5rem;
    }

    .mobile-title-container .title-1 {
      /* font-size: 8vw; */
      font-size: calc(0.5rem + 3vw);
    }

    .mobile-title-container .title-2 {
      /* font-size: 6.65vw; */
      font-size: calc(0.39rem + 2.7vw);
    }

    .navbar .toggle-btn {
      font-size: 1.5rem;
    }
  }

  .navbar ul {
    width: 0;
  }

  .navbar .call-to-action-container {
    width: 0;
  }

  .navbar .links,
  .navbar .action-btn {
    display: none;
  }

  .navbar .toggle-btn {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .dropdown-menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .dropdown-menu li {
    width: 100%;
  }

  /* ➖ section ➖ */

  section {
    padding: 0rem 2rem;
  }

  /* 🦸‍♂️ hero-container 🦸‍♂️ */

  .hero-container {
    padding: 3rem 0;
  }

  .hero-container .hero h1 {
    font-size: 2rem;
  }

  .btns {
    flex-direction: row;
    gap: 0rem;
  }

  .btn-container {
    width: auto;
    padding: 0 0.5rem;
  }

  .btn-container .btn-1,
  .btn-container .btn-2 {
    padding: 0.5rem 1rem;
    width: 9rem;
  }

  /* 🤝 why-me 🤝 */

  .section-content {
    flex-direction: column;
  }

  .why-me-card {
    margin-bottom: 1rem;
    width: auto;
  }

  /* 🍏 competence-areas 🍏 */

  .competence-areas-section-content {
    flex-direction: column;
  }

  .competence-areas-image {
    width: 200px;
    height: 200px;
    margin-bottom: 2rem;
  }

  /* 💖 health-path 💖 */

  .health-path-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* 👞 footer 👞 */

  .footer-container {
    flex-direction: column;
  }

  .btns-2 {
    gap: 0;
  }

  footer .social-icons .fa-instagram {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
  }

  footer .social-icons .fa-phone {
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
  }

  footer .social-icons .fa-whatsapp {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
  }
}

/* 💰💰💰 TARIFFE TARIFFE TARIFFE 💰💰💰 */

.tariffe {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tariffe .hero-container {
  height: auto;
  padding: 3rem 0;
}

.tariffe .hero {
  margin-top: 0;
  height: auto;
}

.tariffe .hero h1 {
  font-size: 1.25rem;
}

.visit-overview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.visit-header {
  padding-bottom: 1rem;
  font-weight: bold;
}

.visit-overview {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
  border: 0.25rem solid var(--grey);
  border-radius: 1rem;
}

.tariffe .btns {
  display: flex;
  flex-direction: column;
}

.tariffe footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
}

@media (max-width: 800px) {
  .tariffe .hero {
    padding: 1.25rem;
  }

  .visit-overview {
    font-size: 0.8rem;
    padding: 1.25rem;
  }
}

/* 📞📞📞 CONTATTI CONTATTI CONTATTI 📞📞📞 */

.contatti {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contatti .hero-container {
  height: auto;
  padding: 3rem 0;
}

.contatti .hero {
  margin-top: 0;
  height: auto;
}

.contatti .hero h1 {
  font-size: 1.25rem;
}

.contatti-overview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.contatti-header {
  font-weight: bold;
}

.contatti-overview {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
  border: 0.25rem solid var(--grey);
  border-radius: 1rem;
}

.contatti .btn-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.contatti footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
}

@media (max-width: 800px) {
  .contatti .hero {
    padding: 1.25rem;
  }

  .contatti-overview {
    font-size: 0.8rem;
    padding: 1.25rem;
  }
}